<stache pageHeading="Home" layout="container">
  <nav>
    <ul>
      <li>
        <a routerLink="components">Components</a>
        <ul>
          <li>
            Media
            <ul>
              <li><a routerLink="components/media/hero">Hero</a></li>
              <li><a routerLink="components/media/image">Image</a></li>
              <li><a routerLink="components/media/video">Video</a></li>
            </ul>
          </li>
          <li>
            Code Block
            <ul>
              <li>
                <a routerLink="components/code-block/code-block">Code Block</a>
              </li>
            </ul>
          </li>
          <li>
            Stache
            <ul>
              <li><a routerLink="components/stache/wrapper">Basic</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="design">Design</a>
        <ul>
          <li><a routerLink="design/guidelines">Guidelines</a></li>
          <li><a routerLink="design/principles">Principles</a></li>
          <li><a routerLink="design/styles">Styles</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</stache>
