# Add files here to ignore them from prettier formatting

/.angular
/dist
/coverage
/node_modules
package-lock.json

# Don't format the following since the order of its import statements is deliberate.
test.ts

# The 'release-please' GitHub action is responsible for the changelog's content.
CHANGELOG.md

# Prismjs language imports need to be in a specific, non-alphabetical order.
libs/code-block/src/lib/modules/code-block/prism-languages.ts
